:javascript
  jQuery(function() {
    jQuery('#list-#{list.id}-link')
      .bind('click', function() {
        alert("Hello");
        jQuery('#list-#{list.id}-details').html('Details!');
      })
      .bind("ajax:complete", function(et, e) {
        alert(e.responseText);
        jQuery('#list-#{list.id}-details').html(e.responseText);
      });
  });

.list.stream-item
  .stream-item-content.tweet.stream-tweet
    .tweet-image
      %img.tweet-profile-image{:src => "images/categories/#{list.category.icon_filename}", :width => 48, :height => 48}
    .tweet-content
      .tweet-row
        %span.list-title.tweet-user-name= link_to list.name, list, :id => "list-#{list.id}-link", :class => 'tweet-screen-name user-profile-link', :remote => true
        %span.tweet-full-name= list.category.pretty_name
      .tweet-row
        .list-description.tweet-text= list[:description]
      .tweet-row
        %a.tweet-timestamp.list-due-date
          %span._timestamp= list[:due_at]
      .tweet-row
        %div{:id => "list-#{list.id}-details"}