- list ||= List.new()

:css
  #new-list-form-main {
    padding: 5px;
    text-align: center
  }

  label {
    padding-right: 5px;
  }
  
:javascript
  jQuery(function() {
    jQuery('#new-list-form-more').hide();
    
    jQuery('#new-list-form-more-toggle')
      .bind('click', function() {
        jQuery('#new-list-form-more').toggle();
      });
      
    jQuery('#new_list')
      .bind('ajax:complete', function(et, e) {
        jQuery('##{id_to_append}').append(e.responseText);
      });
  });

.list.stream-item
  .stream-item-content.tweet.stream-tweet
    .tweet-row 
      = form_for(list, :remote => true) do |f|
        #new-list-form-main
          = f.text_field :name
          %a#new-list-form-more-toggle [add details]
          = f.submit 'Create'
        #new-list-form-more
          %table
            %tr
              %td= f.label :category
              %td= f.select :category_id, Category.all.sort_by(&:name).map { |c| [c.name, c.id] }, :include_blank => true
            %tr
              %td= f.label :due
              %td= f.datetime_select :due_at, :include_blank => true
            %tr
              %td= f.label :description
              %td= f.text_area :description, :rows => 3
